<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моя кошка</title>
    <style>
    p {
        line-height: 0.1;
        }
    h4 {
         line-height: 0.1;
        }
    </style>
</head>
<body>
<h1>Привет! Это моя кошка!</h1>
<p><img src = "tusja.png" width="400" height="350"></p>
<h4>Её зовут <em>Радость Невский Модерн</em>, это полное имя.</h4>
<h4>Для своих просто <strong><mark>Туся</mark>.</strong>
<mark>Туся</mark> - представитель редкой породы.</h4>
<h4>Смесь <ins>Невской Маскарадной Кошки</ins> и <ins>Гладкошерстного Сфинкса.</ins></h4>
<h4>Эта порода выведена<strong><ins> Лично мною</ins></strong> в 2017 году.</h4>
<h6><del>Не стоит все принимать всерьез</del></h6>
</body>
</html>
